.headerStyle{
    display: flex;
    flex-direction: row;
    background-color: darkcyan;
    color: white;
}

.align-content{
    justify-content: center;
    text-align: center;
}

.body-style{
    background-color: rgb(80, 90, 84);
    display: flex;
    flex-direction: column;
    color: white;
    width: 60%;
    height: 50%;
    align-self: center;
}

.resolution{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 50%;
    background-color: dimgray;
}

.flex-direction-row{
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 20%;
    margin-right: 20%;
}

.main-page-padding{
    margin-left: 5%;
    width: 70%
}

.suggestions-style{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 20%;
}

.inner-div:hover{
    background-color: aquamarine;
}

.suggestions-grid{
    display: grid;
    grid-template-columns: 5% auto;
    height: 20%;
}

.suggestions-books-grid{
    display: grid;
    grid-template-rows: 30% 50%;
    grid-row-gap: 5%;
}